<div class="row">
  <div class="col-sm-5">
    <button class="btn btn-primary btn-block"
    (click)="onNuovoClick()"
    >Nuovo</button>
    <br>
    <div class="list-group">
      <div *ngFor="let libro of libreria; let i = index">
      <button type="button" class="list-group-item list-group-item-action"
      *ngIf="libro.titolo != ''"
      (click)="onTitoloClick(i)"
      [ngClass]="{'active': corrente == i}"
      >{{libro.titolo}}</button>
      </div>
    </div>
    <br>
    <hr>
  </div>
  <div class="col-sm-7">
    <app-libro [libro]="libreria[corrente]"></app-libro>
  </div>
</div>