<p class="lead"
*ngIf="libro.titolo != '' && libro.autore != ''"
[ngStyle]="{'color': setColoreTitolo()}"
>{{libro.getTitoloCompleto()}}</p>
<div class="form-group">
  <label>ISBN</label>
  <input type="text" class="form-control" placeholder="XXX-XX-XXXXX-XX-X" [(ngModel)]="libro.isbn">
</div>
<div class="form-group">
  <label>Titolo</label>
  <input type="text" class="form-control" placeholder="Inserire il titolo" [(ngModel)]="libro.titolo">
</div>
<div class="form-group">
  <label>Autore</label>
  <input type="text" class="form-control" placeholder="Inserire l'autore" [(ngModel)]="libro.autore">
</div>
<div class="form-group">
  <label>Anno di uscita</label>
  <input type="number" class="form-control" placeholder="nnnn" [(ngModel)]="libro.annoUscita">
</div>